  {% extends "base2.html" %}

{% load staticfiles %}
  {% block css %}
        <link rel="stylesheet" href="/static/dash/css/AdminLTE.min.css">
      <link rel="stylesheet" href="/static/dash/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
  <style type="text/css">
    #wrapper {
        margin-top: -20px;
    }
  </style>
    {% endblock %}
     {% block content %}
        <div class="header">
            <h1 class="page-header">
                {{task_name}}分析结果
            </h1>
        </div>
        <div id="page-inner">

            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-default">

                        <div class="panel-body">
                            <div>
                                <!-- Nav tabs -->
                                <ul class="nav nav-pills console-nav" role="tablist">
                                    <li role="presentation" class="active"><a href="#static_report" role="tab" data-toggle="tab">静态分析</a></li>
                                    <li role="presentation"><a href="#dynamic_report" role="tab" data-toggle="tab">人工分析</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content console-content">
                                    <div role="tabpanel" class="tab-pane active" id="static_report">
                                        {% ifequal finish 1 %}
                                        <br>
                                        <div class="row" id="baseInformation">
                                            <div class="col-sm-2">
                                                <div class="box box-primary">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title">图标</h3>
                                                        <span class="label label-primary pull-right"><i class="glyphicon glyphicon-picture"></i></span>
                                                    </div>
                                                    <div class="box-body center">
                                                        <img id="app_icon" src="
                                                                /static/img/downloads/{{ md5 }}-icon.png
                                                        "/><br />
                                                        {% if icon_hidden %}
                                                        <strong>Hidden Icon!</strong>
                                                        {% endif %}
                                                    </div><!-- /.box-body -->
                                                </div>
                                            </div>

                                            <div class="col-sm-5">
                                                <div class="box box-primary">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title">样本文件信息 </h3>
                                                        <span class="label label-primary pull-right"><i class="glyphicon glyphicon-file"></i></span>
                                                    </div><!-- /.box-header -->
                                                    <div class="box-body">
                                                        <div class="list-group">
                                                            <p>
                                                                <span class="label label-primary">名称</span>
                                                                {{ name }}
                                                            </p>
                                                            <p>
                                                                <span class="label label-primary">大小</span>
                                                                {{ size }}
                                                            </p>
                                                            <p>
                                                                <span class="label label-primary">MD5</span>
                                                                {{ md5 }}
                                                            </p>
                                                            <p>
                                                                <span class="label label-primary">SHA1</span>
                                                                {{ sha1 }}
                                                            </p>
                                                            <p>
                                                                <span class="label label-primary">SHA256</span>
                                                                {{ sha256 }}
                                                            </p>
                                                        </div>

                                                    </div><!-- /.box-body -->
                                                </div><!-- /.box -->
                                            </div><!-- /.col -->

                                            <div class="col-sm-5">
                                                <div class="box box-danger">
                                                    <div class="box-header with-border">
                                                        <h3 class="box-title">App信息</h3>
                                                        <span class="label label-danger pull-right"><i class="glyphicon glyphicon-info-sign"></i></span>
                                                    </div><!-- /.box-header -->
                                                    <div class="box-body">
                                                        <div class="list-group">
                                                            <p>
                                                                <span class="label label-primary">Package Name</span>
                                                                {{ packagename }}
                                                            </p>
                                                            <p>
                                                                <span class="label label-primary">Main Activity</span>
                                                                {{ mainactivity }}
                                                            </p>
                                                            <p>
                                                                <span class="label label-primary">Target SDK</span>
                                                                {{ targetsdk }}
                                                                <span class="label label-primary">Min SDK</span>
                                                                {{ minsdk }}
                                                                <span class="label label-primary">Max SDK</span>
                                                                {{ maxsdk }}
                                                            </p>
                                                            <p>
                                                                <span class="label label-primary">Android Version Name</span>
                                                                {{ androvername }}
                                                            </p>
                                                            <p>
                                                                <span class="label label-primary">Android Version Code</span>
                                                                {{ androver }}
                                                            </p>
                                                            <p>
                                                                <span class="label label-primary">是否加壳</span>
                                                                {% ifequal shell 'true' %}
                                                                True
                                                                {% else %}
                                                                False
                                                                {% endifequal %}
                                                            </p>
                                                        </div>

                                                    </div><!-- /.box-body -->
                                                </div><!-- /.box -->
                                            </div><!-- /.col -->
                                        </div>

                                        <div class="row" id="certInformation">
                                            <section>
                                            <h2 class="page-header"></h2>
                                            <div class="box-header">
                                                <h3 class="box-title"><i class="fa fa-certificate"></i> 签名证书</h3>
                                            </div>
                                             <pre class="hierarchy bring-up"><code class="language-bash" data-lang="bash">
                                                {{ certinfo | safe}}
                                                {% if issued == "good" %}
                                                <strong>证书状态: </strong><span class="label label-success">Good</span>
                                                {% elif issued == "bad" %}
                                                <strong>证书状态: </strong><span class="label label-danger">Bad</span>
                                                <strong>描述:</strong>App使用了'Android Debug'证书.
                                                产品级的应用不应该使用'Android Debug'证书.
                                                {% elif issued == "missing" %}
                                                <strong>证书状态: </strong><span class="label label-warning">未找到证书</span>
                                                {% elif issued == "bad hash" %}
                                                <strong>证书状态: </strong><span class="label label-danger">Bad</span>
                                                <strong>描述:</strong>应用使用`SHA1withRSA`算法签名. SHA1算法具有安全隐患.
                                                {% endif %}
                                             </code></pre>
                                            </section>
                                        </div>

                                        <div class="row" id="soVulDetect">
                                            <div class="col-md-12">
                                                <section id="code">
                                                   <h2 class="page-header"></h2>
                                                   <!-- /.box -->

                                                          <div class="box">
                                                            <div class="box-header">
                                                              <h3 class="box-title"><i class="fa  fa-code"></i> Code Analysis</h3>
                                                            </div>
                                                            <!-- /.box-header -->
                                                            <div class="box-body no-padding">
                                                             <div class="table-responsive">
                                                                                    <table class="table table-bordered table-hover table-striped">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>ISSUE</th>
                                                                                                <th>SEVERITY</th>
                                                                        <th>FILES</th>

                                                                                            </tr>
                                                                    </thead>
                                                                    <tbody>
                                                               {% for issue, details in findings.items %}
                                                                  <tr>
                                                                  <td>
                                                                  {{ issue }}
                                                                  </td>
                                                                  <td>
                                                                    {% if details|key:"level" == "high" %}
                                                                      <span class="label label-danger">high</span>
                                                                      {% elif details|key:"level" == "good" %}
                                                                      <span class="label label-success">secure</span>
                                                                      {% elif details|key:"level" == "warning" %}
                                                                      <span class="label label-warning">warning</span>
                                                                      {% elif details|key:"level" == "info" %}
                                                                      <span class="label label-info">info</span>
                                                                      {% endif %}
                                                                  </td>
                                                                  <td>
                                                                  {% for path in details|key:"path" %}
                                                                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                                                                  </br>
                                                                  {% endfor %}
                                                                  </td>
                                                                </tr>
                                                              {% endfor %}

                                                                    </tbody>
                                                                    </table>

                                                                            </div>
                                                            </div>
                                                            <!-- /.box-body -->
                                                          </div>
                                                          <!-- /.box -->
                                                </section>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        静态分析进度
                                                    </div>

                                                    <div class="panel-body">
                                                        <div class="tab-pane" id="console-{{task_id}}" style="height: 350px;overflow-y: scroll; background-color: #3F3F3F; color:white">
                                                            {{consoles}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endifequal %}

                                    </div>

                                    <div role="tabpanel" class="tab-pane" id="dynamic_report">

                                    <div id="modals">

                                    </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

         </div>
        <!-- /. PAGE INNER  -->
      {% endblock %}

     {% block js %}
    <script>

        md5 = '{{md5}}';
        html = '{{html}}';
        html = html.replace(/&lt;/g,"<").replace(/&gt;/g,">").replace(/&quot;/g,'"').replace(/&amp;nbsp;/g, "&nbsp;");
        $("#dynamic_report").append($(html));

        modal = '{{modal}}';
        modal = modal.replace(/&lt;/g,"<").replace(/&gt;/g,">").replace(/&quot;/g,'"')
        $("#modals").append($(modal));

        js = '{{js}}';
        js = js.replace(/&quot;/g, '"').replace(/&#39;/g, "'");
        eval(js);


        function refreshTask(){
            $.ajax({
                type: 'GET',
                url: '../getTaskInfo/',
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}',
                },
                data: {taskId: {{task_id}}},
                error: function() {
                    alert("网络错误!");
                },
                success: function(data) {
                    if(data.finish === 1) {
                        location.reload();
                    } else {
                        $("#console-{{task_id}}").html(data.consoles);
                    }

                }
            });
        }

        if({{finish}} === 0) {
            window.timer = window.setInterval(refreshTask ,5000);
        }


    </script>
     {% endblock %}