
  {% extends "base.html" %}
   {% load staticfiles %}
   {% block content %}
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <div class="sidebar" id="scrollspy">

          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="nav sidebar-menu">
            <li class="header">静态分析</li>

              <li class="treeview">
              <a href="javascript::;"><i class="fa fa-circle-o"></i> 代码安全</a>
              <ul class="nav treeview-menu">
                <li><a href="#manifest"><i class="fa fa-search"></i>APK文件安全加壳分析</a></li>

                <li class="treeview">
                <a href="javascript::;"><i class="fa fa-circle-o"></i> 代码加载安全</a>
                <ul class="nav treeview-menu">
                  <li><a href="#manifest"><i class="fa fa-search"></i>Jar包动态加载安全检测</a></li>
                   <li><a href="#code"><i class="fa fa-code"></i> Native代码安全检测</a></li>
                  <li><a href="#file"><i class="fa fa-file-text-o"></i> 第三方漏洞检测</a></li>
                </ul>
                 </li>

                <li class="treeview">
                <a href="javascript::;"><i class="fa fa-circle-o"></i> 软件组件安全</a>
                <ul class="nav treeview-menu">
                  <li><a href="#manifest"><i class="fa fa-search"></i>进程调用安全漏洞分析</a></li>
                   <li><a href="#code"><i class="fa fa-code"></i> Intent Scheme URL漏洞分析</a></li>
                </ul>
                 </li>

                  <li class="treeview">
                     <a href="javascript::;"><i class="fa fa-circle-o"></i> 本地端口安全</a>
                     <ul class="nav treeview-menu">
                         <li><a href="#manifest"><i class="fa fa-search"></i>本地端口开放越权漏洞分析</a></li>
                      </ul>
                 </li>
              </ul>
            </li>


              <li class="treeview">
              <a href="javascript::;"><i class="fa fa-circle-o"></i> 数据安全漏洞检测</a>
              <ul class="nav treeview-menu">

                <li class="treeview">
                <a href="javascript::;"><i class="fa fa-circle-o"></i> 数据泄露类</a>
                <ul class="nav treeview-menu">
                  <li><a href="#manifest"><i class="fa fa-search"></i>文件存储信息泄露检测</a></li>
                   <li><a href="#code"><i class="fa fa-code"></i> Intent敏感信息泄露</a></li>
                    <li><a href="#code"><i class="fa fa-code"></i> 剪切板敏感信息泄露</a></li>
                  <li><a href="#file"><i class="fa fa-file-text-o"></i> 程序数据备份信息泄露</a></li>
                </ul>
                 </li>

                <li class="treeview">
                <a href="javascript::;"><i class="fa fa-circle-o"></i> 文件访问类</a>
                <ul class="nav treeview-menu">
                  <li><a href="#manifest"><i class="fa fa-search"></i>Content Provider目录遍历漏洞分析</a></li>
                   <li><a href="#code"><i class="fa fa-code"></i> Zip文件解压目录遍历漏洞分析</a></li>
                </ul>
                 </li>

              </ul>
            </li>



              <li class="header">半人工分析</li>
               <li class="treeview">
              <a href="javascript::;"><i class="fa fa-circle-o"></i> 数据安全漏洞检测</a>
              <ul class="nav treeview-menu">

                <li class="treeview">
                <a href="javascript::;"><i class="fa fa-circle-o"></i> 数据泄露类</a>
                <ul class="nav treeview-menu">
                  <li><a href="#manifest"><i class="fa fa-search"></i>敏感数据硬编码</a></li>
                   <li><a href="#code"><i class="fa fa-code"></i> 数据库敏感数据泄露</a></li>
                </ul>
                 </li>

                <li class="treeview">
                <a href="javascript::;"><i class="fa fa-circle-o"></i> 数据篡改类</a>
                <ul class="nav treeview-menu">
                  <li><a href="#manifest"><i class="fa fa-search"></i>配置数据篡改检测</a></li>
                   <li><a href="#code"><i class="fa fa-code"></i> 资源文件篡改检测</a></li>
                    <li><a href="#code"><i class="fa fa-code"></i> 数据库文件篡改检测</a></li>
                </ul>
                 </li>

              </ul>
            </li>
            <li><a target="_blank" href="../PDF/?md5={{ md5 }}&amp;type=ANDZIP"><i class="glyphicon glyphicon-list-alt"></i> Download Report</a></li>            
          </ul>
        </div>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -- >
      <section class="content-wrapper">
        <!-- Content Header (Page header) -->
     

        <!-- Main content -->
        <div class="content body">

<!-- ============================================================= -->

<section id="apk-shell">
  <h2 class="page-header"></h2>
    <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-file-text-o"></i> APK文件安全加壳分析</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
            <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                              <thead>
                                            <tr>
                                                <th>ISSUE</th>
                                                <th>FILES</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                  {{ certz | safe}}
                    </tbody>
                    </table>

                            </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>



  <section id="jar-load">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i>Jar包动态加载安全检测</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>

    <section id="native-code">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i>Native代码安全检测</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>


  <section id="android-api">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i>Jar包动态加载安全检测</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>


    <section id="process-invoke">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i>进程调用安全漏洞分析</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>



    <section id="intent-scheme">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i>Intent Scheme URL漏洞分析</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>


    <section id="local-port">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i>本地端口越权漏洞</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>



    <section id="file-save">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i>文件存储信息泄露检测</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>



    <section id="clipboard">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i>剪切板敏感信息泄露</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>



  <section id="backup">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i>程序数据备份信息泄露</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>


      <section id="content-provider">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i>Content Provider目录遍历漏洞分析</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>


      <section id="zip">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i>zip文件解压目录遍历漏洞</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>


        </div><!-- /.content -->
      </section><!-- /.content-wrapper -->

       
{% endblock %}
