
  {% extends "base.html" %}
   {% load staticfiles %}
   {% block content %}
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <div class="sidebar" id="scrollspy">

          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="nav sidebar-menu">
            <li class="header">静态分析</li>

              <li class="treeview">
              <a href="javascript::;"><i class="fa fa-circle-o"></i> 代码安全</a>
              <ul class="nav treeview-menu">
                <li><a href="#manifest"><i class="fa fa-search"></i>APK文件安全加壳分析</a></li>

                <li class="treeview">
                <a href="javascript::;"><i class="fa fa-circle-o"></i> 代码加载安全</a>
                <ul class="nav treeview-menu">
                  <li><a href="#manifest"><i class="fa fa-search"></i>Jar包动态加载安全检测</a></li>
                   <li><a href="#code"><i class="fa fa-code"></i> Native代码安全检测</a></li>
                  <li><a href="#file"><i class="fa fa-file-text-o"></i> 第三方漏洞检测</a></li>
                </ul>
                 </li>

                <li class="treeview">
                <a href="javascript::;"><i class="fa fa-circle-o"></i> 软件组件安全</a>
                <ul class="nav treeview-menu">
                  <li><a href="#manifest"><i class="fa fa-search"></i>进程调用安全漏洞分析</a></li>
                   <li><a href="#code"><i class="fa fa-code"></i> Intent Scheme URL漏洞分析</a></li>
                </ul>
                 </li>

                  <li class="treeview">
                     <a href="javascript::;"><i class="fa fa-circle-o"></i> 本地端口安全</a>
                     <ul class="nav treeview-menu">
                         <li><a href="#manifest"><i class="fa fa-search"></i>本地端口开放越权漏洞分析</a></li>
                      </ul>
                 </li>
              </ul>
            </li>


              <li class="treeview">
              <a href="javascript::;"><i class="fa fa-circle-o"></i> 数据安全漏洞检测</a>
              <ul class="nav treeview-menu">

                <li class="treeview">
                <a href="javascript::;"><i class="fa fa-circle-o"></i> 数据泄露类</a>
                <ul class="nav treeview-menu">
                  <li><a href="#manifest"><i class="fa fa-search"></i>文件存储信息泄露检测</a></li>
                   <li><a href="#code"><i class="fa fa-code"></i> Intent敏感信息泄露</a></li>
                    <li><a href="#code"><i class="fa fa-code"></i> 剪切板敏感信息泄露</a></li>
                  <li><a href="#file"><i class="fa fa-file-text-o"></i> 程序数据备份信息泄露</a></li>
                </ul>
                 </li>

                <li class="treeview">
                <a href="javascript::;"><i class="fa fa-circle-o"></i> 文件访问类</a>
                <ul class="nav treeview-menu">
                  <li><a href="#manifest"><i class="fa fa-search"></i>Content Provider目录遍历漏洞分析</a></li>
                   <li><a href="#code"><i class="fa fa-code"></i> Zip文件解压目录遍历漏洞分析</a></li>
                </ul>
                 </li>

              </ul>
            </li>



              <li class="header">半人工分析</li>
               <li class="treeview">
              <a href="javascript::;"><i class="fa fa-circle-o"></i> 数据安全漏洞检测</a>
              <ul class="nav treeview-menu">

                <li class="treeview">
                <a href="javascript::;"><i class="fa fa-circle-o"></i> 数据泄露类</a>
                <ul class="nav treeview-menu">
                  <li><a href="#manifest"><i class="fa fa-search"></i>敏感数据硬编码</a></li>
                   <li><a href="#code"><i class="fa fa-code"></i> 数据库敏感数据泄露</a></li>
                </ul>
                 </li>

                <li class="treeview">
                <a href="javascript::;"><i class="fa fa-circle-o"></i> 数据篡改类</a>
                <ul class="nav treeview-menu">
                  <li><a href="#manifest"><i class="fa fa-search"></i>配置数据篡改检测</a></li>
                   <li><a href="#code"><i class="fa fa-code"></i> 资源文件篡改检测</a></li>
                    <li><a href="#code"><i class="fa fa-code"></i> 数据库文件篡改检测</a></li>
                </ul>
                 </li>

              </ul>
            </li>
            <li><a target="_blank" href="../PDF/?md5={{ md5 }}&amp;type=ANDZIP"><i class="glyphicon glyphicon-list-alt"></i> Download Report</a></li>            
          </ul>
        </div>
        <!-- /.sidebar -->
      </aside>

      <!-- Content Wrapper. Contains page content -->
      <section class="content-wrapper">
        <!-- Content Header (Page header) -->
     

        <!-- Main content -->
        <div class="content body">

<section id="information">
  <h2 class="page-header"></h2>
  <p class="lead">
      <div class="row">
    <div class="col-sm-2">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Icon</h3>
          <span class="label label-primary pull-right"><i class="glyphicon glyphicon-picture"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body center">
            <img id="app_icon" src="
            {% if icon_found %}
                /download/{{ md5 }}-icon.png
            {% else %}
                {% static 'img/no_icon.png' %}
            {% endif %}
            "/><br />
        {% if icon_hidden %}
        <strong>Hidden Icon!</strong>
        {% endif %}
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
    <div class="col-sm-5">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">File Information</h3>
          <span class="label label-primary pull-right"><i class="glyphicon glyphicon-file"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body">
           <div class="list-group">
                  <p>                                       
                      <span class="label label-primary">Name</span>
                      {{ name }}
                  </p>
                  <p>
                      <span class="label label-primary">Size</span>
                      {{ size }}
                  </p>
                  <p>
                      <span class="label label-primary">MD5</span>
                      {{ md5 }}
                  </p>
                  <p>
                     <span class="label label-primary">SHA1</span>
                      {{ sha1 }}                
                  </p>
                  <p>
                     <span class="label label-primary">SHA256</span>
                    {{ sha256 }}
                </p>

</section>
        </div>

        
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->

    <div class="col-sm-5">
      <div class="box box-danger">
        <div class="box-header with-border">
          <h3 class="box-title">App Information</h3>
          <span class="label label-danger pull-right"><i class="glyphicon glyphicon-info-sign"></i></span>
        </div><!-- /.box-header -->
        <div class="box-body">
        <div class="list-group">
                  <p>                                       
                     <span class="label label-primary">Package Name</span>
                     {{ packagename }}
                  </p>
                  <p>
                     <span class="label label-primary">Main Activity</span>
                    {{ mainactivity }}
                  </p>
                  <p>
                     <span class="label label-primary">Target SDK</span>
                     {{ targetsdk }}           
                     <span class="label label-primary">Min SDK</span>
                      {{ minsdk }}
                     <span class="label label-primary">Max SDK</span>
                     {{ maxsdk }}
                  </p>
                  <p>
                     <span class="label label-primary">Android Version Name</span>
                     {{ androvername }}
                  </p>
                  <p>
                  <span class="label label-primary">Android Version Code</span>
                  {{ androver }}
                  </p>
       </div>
        
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
    <!---Components-->
  </div><!-- /.row -->
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{ act_count }}</h3>

              <p>ACTIVITIES</p>
            </div>
            <div class="icon">
              <i class="fa fa-language"></i>
            </div>
            <a href="#activities" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{ serv_count }}</h3>

              <p>SERVICES</p>
            </div>
            <div class="icon">
              <i class="fa fa-gears"></i>
            </div>
            <a href="#services" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{ bro_count }}</h3>

              <p>RECEIVERS</p>
            </div>
            <div class="icon">
              <i class="fa fa-sort-amount-desc"></i>
            </div>
            <a href="#receivers" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{ prov_count }}</h3>

              <p>PROVIDERS</p>
            </div>
            <div class="icon">
              <i class="fa fa-database"></i>
            </div>
            <a href="#providers" class="small-box-footer">View <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
 
 <!--Exported Components-->
<div class="row">

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-language"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Exported </br>Activities</span>
              <span class="info-box-number">{{ e_act }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-gears"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Exported </br>Services</span>
              <span class="info-box-number">{{ e_ser }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-sort-amount-desc"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Exported </br>Receivers</span>
              <span class="info-box-number">{{e_bro}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-database"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Exported </br>Providers</span>
              <span class="info-box-number">{{e_cnt}}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
 <!--End of Exported -->
</section><!-- /#introduction -->


<!-- ============================================================= -->

<section id="apk-shell">
  <h2 class="page-header"></h2>
    <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title"><i class="fa fa-file-text-o"></i> APK文件安全加壳分析</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
            <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                              <thead>
                                            <tr>
                                                <th>ISSUE</th>
                                                <th>FILES</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                  {{ certz | safe}}
                    </tbody>
                    </table>

                            </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
</section>



  <section id="jar-load">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i>Jar包动态加载安全检测</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>

    <section id="native-code">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i>Native代码安全检测</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>


  <section id="android-api">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i>Jar包动态加载安全检测</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>


    <section id="process-invoke">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i>进程调用安全漏洞分析</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>



    <section id="intent-scheme">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i>Intent Scheme URL漏洞分析</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>


    <section id="local-port">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i>本地端口越权漏洞</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>



    <section id="file-save">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i>文件存储信息泄露检测</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>



    <section id="clipboard">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i>剪切板敏感信息泄露</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>



  <section id="backup">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i>程序数据备份信息泄露</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>


      <section id="content-provider">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i>Content Provider目录遍历漏洞分析</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>


      <section id="zip">
   <h2 class="page-header"></h2>
  <!-- /.box -->

          <div class="box">
          <div class="box-header">
             <!-- /.box-header -->
              <h3 class="box-title"><i class="fa  fa-dot-circle-o"></i>zip文件解压目录遍历漏洞分析</h3>
            </div>
 <div class="box-body no-padding">
          <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>

                                                <th>API</th>
                        <th>FILES</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                   {% for desc, details in api.items %}
                  <tr>
                  <td>
                  {{ desc }}
                  </td>
                  <td>
                  {% for path in details|key:"path" %}
                   <a href="../ViewSource/?file={{ path }}&md5={{ md5 }}&type=apk"> {{ path }}</a>
                  </br>
                  {% endfor %}
                  </td>
                </tr>
              {% endfor %}
                    </tbody>
                    </table>

                            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
</section>


        </div><!-- /.content -->
      </div><!-- /.content-wrapper -->

       
{% endblock %}
