  {% extends "base2.html" %}

      {% block css %}
      <link rel="stylesheet" href="/static/css/bootstrap-select.css" />
     <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css" media="screen">
    {% endblock %}


   {% block content %}
        <div class="header">
            <h1 class="page-header">
                任务管理 <small>查看和添加任务</small>
            </h1>
        </div>
        <div id="page-inner">


            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            添加任务
                        </div>

                        <div class="panel-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group name-group">
                                            <label for="taskName">任务名称</label>
                                            <input type="text" class="form-control" id="taskName" placeholder="必填">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group member-group">
                                            <label for="taskMember">测试人员名称</label>
                                            <input type="text" class="form-control" id="taskMember" placeholder="必填">
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group sample-group">
                                            <label for="taskSample">测试样本</label>
                                            <select class="selectpicker show-tick form-control" data-live-search="true" id="taskSample">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group engine-group">
                                            <label for="taskEngine">测式引擎种类</label>
                                            <select class="selectpicker form-control" multiple  data-actions-box="true" id="taskEngine">
                                                <optgroup label="静态分析">
                                                    <option value="0">静态分析</option>
                                                </optgroup>
                                                <optgroup label="数据安全检测">
                                                    <option value="1">敏感数据硬编码</option>
                                                    <option value="2">数据库敏感数据泄露</option>
                                                    <option value="3">配置数据篡改检测</option>
                                                    <option value="4">资源文件篡改检测</option>
                                                    <option value="5">数据库文件篡改检测</option>
                                                </optgroup>
                                                <optgroup label="通信安全检测">
                                                    <option value="6">通信数据明文泄露检测</option>
                                                    <option value="7">加密证书锁定安全漏洞分析</option>
                                                    <option value="8">会话重放攻击检测</option>
                                                    <option value="9">会话超时攻击检测</option>
                                                    <option value="10">会话劫持安全漏洞分析</option>
                                                    <option value="11">短信DOS检测</option>
                                                </optgroup>
                                                <optgroup label="业务逻辑安全">
                                                    <option value="12">用户注册与登陆安全</option>
                                                    <option value="13">设备配网安全检测</option>
                                                    <option value="14">手机和云认证及通信加密检测</option>
                                                    <option value="15">手机和设备认证及通信加密检测</option>
                                                    <option value="16">设备和云认证及通信加密检测</option>
                                                    <option value="17">固件升级安全检测</option>
                                                    <option value="18">固件存储安全检测</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-2 col-md-offset-5">
                                        <div class="form-group">
                                            <button type="button" class="form-control btn btn-primary" id="upload_task">提交任务</button>
                                        </div>
                                    </div>
                                </div>


                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            任务管理
                        </div>

                        <div class="panel-body">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    任务搜索
                                </div>

                                <div class="panel-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="search-name">名称</label>
                                                    <input type="text" class="form-control" id="search-name">
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="search-member">测试人员</label>
                                                    <input type="text" class="form-control" id="search-member">
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="dtp_input1">起始时间</label>
                                                    <div class="input-group date form_datetime" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input1">
                                                        <input class="form-control" size="16" type="text" value="">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                                    </div>
                                                    <input type="hidden" id="dtp_input1" value="" /><br/>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="dtp_input2">终止时间</label>
                                                    <div class="input-group date form_datetime" data-date-format="dd MM yyyy - HH:ii p" data-link-field="dtp_input2">
                                                        <input class="form-control" size="16" type="text" value="">
                                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                                    </div>
                                                    <input type="hidden" id="dtp_input2" value="" /><br/>
                                                </div>
                                            </div>


                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label></label>
                                                    <button type="submit" class="form-control btn btn-default" >搜索</button>
                                                </div>
                                            </div>

                                        </div>

                                    </form>

                                </div>
                            </div>

                            <table class="table table-bordered tasks">
                                <thead>
                                <tr>
                                    <th> 编号</th>
                                    <th> 任务名称</th>
                                    <th> 测试人员</th>
                                    <th> 任务添加时间</th>
                                    <th> 测试引擎</th>
                                    <th> 测试结果</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

             <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            未完成任务详细进度
                        </div>

                        <div class="panel-body">
                            <div>
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs console-nav" role="tablist">
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content console-content">
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4">
                                    <h3 class="uploading">正在添加任务</h3>
                                </div>
                            </div>
                            <br/>
                            <br/>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </div>
        <!-- /. PAGE INNER  -->
   {% endblock %}


  {% block js %}
  <script src="/static/js/bootstrap-select.js"></script>
  <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
  <script src="/static/js/network.js"></script>
    <script>
    $("#main-menu").find("li").find("a").eq(2).addClass("active-menu");

    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1
    });

    samples = []

    function refreshSamples() {
        $.ajax({
            type: 'GET',
            url: '../get_samples/',
            headers: {
                "X-CSRFToken": '{{ csrf_token }}',
            },
            error: function() {
                alert("网络错误!");
            },
            success: function(data) {
                samples = data.samples;
                $("#taskSample").find("option").remove();
                for(var i = 0; i < samples.length; i++) {
                    $("#taskSample").append('<option value="' + samples[i].md5 +'">' + samples[i].name + '</option>');
                }
                $("#taskSample").selectpicker('refresh');
            }
        });
    }


    function getEnginesName(names) {
        //engines = ["静态分析","敏感数据硬编码","数据库敏感数据泄露","配置数据篡改检测","资源文件篡改检测","数据库文件篡改检测",
        //"通信数据明文泄露检测","加密证书锁定安全漏洞分析","会话重放攻击检测","会话超时攻击检测","会话劫持安全漏洞分析","短信DOS检测",
        //"用户注册与登陆安全","设备配网安全检测","手机和云认证及通信加密检测","手机和设备认证及通信加密检测",
        //"设备和云认证及通信加密检测","固件升级安全检测","固件存储安全检测"];
        engines = ["静态分析", "人工分析"];
        es = names.split(",");
        result = ""
        if(es[0] == 0) {
            result += "静态分析";
        }
        if(es.length > 1) {
            result += ",人工分析";
        }
        return result;
    }

    function showProgress(i) {
        es = i.engines.split(",");
        if(i.progress === es.length) {
            return "已完成";
        } else {
            return '<div class="progress"><div class="progress-bar progress-bar-striped active" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="min-width: 15%;width:'
            + 1.0 * i.progress / es.length +
            '%">' +  100.0 * i.progress / es.length  +'%</div></div>';
        }
    }

    function refreshTasks() {
        Network.connect("../get_tasks/", {"X-CSRFToken": '{{ csrf_token }}'}, function(data) {
               $(".tasks").find("tbody").find("tr").remove();
               var c = 0;
               for(var count = 0; count < data.tasks.length; count++) {
                    no = count + 1;
                    i = data.tasks[count];
                    $(".tasks").find("tbody").append('<tr><th scope="row">' + no + '</th><td>' + i.name + '</td><td>' + i.member + '</td><td>' +
                     i.TS + '</td><td>' + getEnginesName(i.engines) + '</td><td>' + i.addr + '</td></tr>');
                     if(i.progress === i.engines.split(",").length) {
                        c++;
                     }

                     if(i.consoles.length > 0) {
                        tab = $("#console-" + i.id);
                        if(tab.length !== 0) {
                            tab.html("");
                            tab.append(i.consoles);
                        } else {
                            $(".console-nav").append('<li role="presentation" class="console-li-'+ i.id+'"><a href="#console-'+ i.id +'"  role="tab" data-toggle="tab">' + i.name + '</a></li>');
                            $(".console-content").append('<div role="tabpanel" class="tab-pane" id="console-'+ i.id+'" style="height: 200px;overflow-y: scroll"><br>' + i.consoles + '</div>')
                        }
                     } else {
                        tab = $("#console-" + i.id);
                        if(tab.length !== 0) {
                            tab.remove();
                            $(".console-li-" + i.id).remove();
                        }
                     }
               }
               if(c === data.tasks.length && window.timer != null) {
                    window.clearInterval(window.timer);
                    window.timer = null;
               }
        });
    }


    $("#upload_task").click(function () {
        var name = $("#taskName").val();
        if(name === "") {
            $(".name-group").addClass("has-error");
            return;
        } else {
            $(".name-group").removeClass("has-error");
        }

        var member = $("#taskMember").val();
        if(member === "") {
            $(".member-group").addClass("has-error");
            return;
        } else {
            $(".member-group").removeClass("has-error");
        }

        var sample = $("#taskSample").val();
        if(sample == null) {
            $(".sample-group").addClass("has-error");
            return;
        } else {
            $(".sample-group").removeClass("has-error");
        }


        var engines = $("#taskEngine").val();
        if(engines == null) {
            $(".engine-group").addClass("has-error");
            return;
        } else {
            $(".engine-group").removeClass("has-error");
        }


        var formData = new FormData();
        formData.append("name", name);
        formData.append("member", member);
        formData.append("sample", sample);
        formData.append("engines", engines.toString());
        $.ajax({
            type: 'POST',
            url: '../upload_task/',
            headers: {
                "X-CSRFToken": '{{ csrf_token }}',
            },
            data: formData,
            processData:false,
            contentType:false,
            beforeSend: function() {
                $(".uploading").html("正在添加任务");
                $(".progress").show();
                $("#modal1").modal({backdrop: 'static', keyboard: false});
            },
            error: function() {
                console.log("error");
                $("#modal1").modal('toggle');
                //alert("网络错误”);
            },
            success: function(data) {
                $(".uploading").html("添加任务成功");
                $(".progress").hide();
                setTimeout(function () {
                    $("#modal1").modal('toggle');
                }, 1000);
                console.log(data);
                if(window.timer == null) {
                    window.timer = window.setInterval(refreshTasks ,5000);
                }
            }
        });
    });

    refreshSamples();
    refreshTasks();
    window.timer = window.setInterval(refreshTasks ,5000);

    </script>
  {% endblock %}